page-account-settings {
    .toolbar-background,
    ion-navbar,
    ion-header {
      background: transparent !important;
      background-image: none !important;
      background-color: transparent !important;
      border: none !important;
    }
}
